%btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0px 7px 0px 0px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-3px);
  }
}

.btn-primary {
  @extend %btn;
  background-color: $main-blue-light;
  color: white;
  border: none;
  font-family: $main-font;

  &:hover {
    background: $main-blue-dark;
  }
}

.btn-secondary {
  @extend %btn;
  border: 1px solid $main-blue-light;
  color: #0688fa;
  background-color: white;
  font-family: $main-font;

  &:hover {
    background-color: rgb(246, 246, 246);
  }
}
