$main-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$primary-font: "Frank Ruhl Libre", serif;

$main-blue-light: #0688fa;
$main-blue-dark: rgb(23, 116, 197);
$blue-text-dark: #002240;
$blue-text-light: #537089;
$blue-background-light: #eff8ff;
$pink-background-light: #fff5f5;
